/* ======================================================= */
/* theme-scheme.css (Placed BEFORE theme-ui / palette)   */
/* ======================================================= */

html[data-theme='light'] {
  --color-scheme: light; /* Satisfies OPUI's variable cascade */
  color-scheme: light; /* Satisfies the browser's native chrome & scrollbars */
}

html[data-theme='dark'] {
  --color-scheme: dark; /* Satisfies OPUI's variable cascade */
  color-scheme: dark; /* Satisfies the browser's native chrome & scrollbars */
}
