@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('./custom.woff2') format('woff2');
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: var(--font-weight-5);
  font-style: normal;
  font-size: var(--font-size-1);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

a {
  color: var(--link-color);
}

html {
  color-scheme: light dark;
}

/* Light theme override */
[data-theme='light'] {
  color-scheme: light;
}
/* Dark theme override */
[data-theme='dark'] {
  color-scheme: dark;
}

html,
body {
  block-size: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: var(--font-classical-humanist);

  color: var(--text-color);
  background-color: var(--background-color);
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1em);
}

.center {
  text-align: center;
}

.main-heading {
  font-size: 2rem;
  text-shadow: rgb(0 0 0 / 20%) 0 0 3px;
  border-bottom: 1px solid #313544;
}

.light {
  background-color: #fff;
}
.multi-column {
  display: grid;
  grid-template-columns: minmax(400px, auto) 1fr;
}

img {
  max-width: 100%;
}

/* img[width] {
  width: auto;
} */

img[width][height] {
  height: auto;
}

.logo {
  max-width: 100px;
}

.item-list {
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.home-main {
  display: grid;
  grid-template-columns: min-content 1fr;
  columns: 20px;
  max-width: 1024px;
}

.home-article-image {
  max-width: 400px;

  img {
    width: 100%;
    height: auto;
  }
}

.home-aside {
  background-color: #fff;
  text-align: center;
  vertical-align: top;
  min-width: 20em;
}
.home-aside blockquote {
  margin: 1em;
}

.home-aside-image {
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.home-content {
  vertical-align: top;
}
.home-item {
  text-align: center;
}

.home-item .title {
  font-size: 22px;
  color: #339933;
}

.poster-item {
  max-width: 500px;
}

.poster-item-wide {
  max-width: 768px;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-style: italic;
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-metadata time {
  margin-right: 1em;
}

.craft-title {
  font-family: 'Comic Neue', sans-serif;
  font-size: 2rem;
}

.figure,
.craft-info {
  max-width: 100%;
  margin-block-start: 0.75rem;
  margin-block-end: 2rem;
}

.clear-both {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mt-3 {
  margin-top: 3rem;
}
.ml-12 {
  margin-left: 3rem;
}
.mr-12 {
  margin-right: 3rem;
}
.max-w-lg {
  max-width: 32rem;
}

.max-w-sm {
  max-width: 15rem;
}

.as-start {
  align-self: flex-start;
}

.as-end {
  align-self: flex-end;
}

.craft-club {
  margin-top: 2rem;
  font-size: larger;
}

.craft-club-wrapper {
  display: flex;
}

.craft-club-wrapper figure {
  margin-top: -1rem;
  margin-left: auto;
}
.craft-club-info {
}
.craft-club img {
  border: none;
}

.craft-info {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  border-bottom: 1px dashed #313544;
}

.ci-strong {
  font-family: 'Comic Neue', 'Roboto', sans-serif;
  font-weight: 700;
  font-size: larger;
}

.craft-info .item-text {
  font-weight: 700;
}

.figure .bg-yellow-100,
.craft-info .bg-yellow-100 {
  --bg-opacity: 1;
  background-color: ivory;
  background-color: rgba(255, 255, 240, var(--bg-opacity));
}

.figure .sm-p-3,
.craft-info .sm-p-3 {
  padding: 0.75rem;
}

.figure .shadow-lg,
.craft-info .shadow-lg {
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.figure .rotate-l,
.craft-info .rotate-l {
  transform: rotate(-3deg);
}

.figure .rotate-r,
.craft-info .rotate-r {
  transform: rotate(3deg);
}

.scale-2 {
  transform: scale(2);
}

@media (--md-n-above) {
  .lg-fl {
    float: left;
  }

  .lg-fr {
    float: right;
  }
}

.post-list {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.post-list li {
  list-style-type: disc;
}

.volunteer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  color: #222;

  ul {
    padding-inline-start: var(--size-1);
  }
}

.volunteer-columns li {
  margin-left: 2rem;
}

.volunteer-columns p {
  font-size: 1.1em;
  font-weight: 600;
  min-height: 3em;
  text-align: center;
  margin-block-end: var(--size-3);
  border-bottom: 2px solid var(--gray-5);
}

.volunteer-columns div {
  padding: 0.5rem;
  border-radius: 7px;
}

.volunteer-columns div:nth-child(n + 1) {
  background-color: var(--purple-2);
}

.volunteer-columns div:nth-child(n + 2) {
  background-color: var(--green-2);
}

.volunteer-columns div:nth-child(n + 3) {
  background-color: var(--yellow-2);
}

.volunteer-footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  row-gap: var(--size-2);

  color: var(--gray-10);
}
.volunteer-footer div {
  background-color: var(--gray-3);
  min-height: 5rem;
  padding: var(--size-3);
  border-radius: var(--radius-2);
}

.ai-c {
  align-self: center;
}

.lh-3 {
  line-height: 3em;
}

.dark .agm-info {
  --agm-border-color: yellow;
}
.agm-info {
  border: 2px solid var(--agm-border-color, purple);
  border-radius: 15px;
  padding: 2rem;
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .agm-info-text {
    font-size: 1.5rem;
  }
  p {
    text-align: center;
  }
  .agm-time {
    font-size: 2rem;
    font-weight: 700;
  }
}

.agm-heading {
  text-align: center;
  font-size: 2rem;
}

.agm-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.page-header {
  height: 300px;
  background-color: darkviolet;
  color: #fff;

  display: flex;
  align-items: center;
  position: relative;

  margin-bottom: var(--size-5);

  > picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    > img[width][height] {
      height: inherit;

      object-fit: cover;
      object-position: bottom;
    }
  }

  &[op-center] > picture > img[width][height] {
    object-position: center;
  }

  &[op-top] > picture > img[width][height] {
    object-position: top;
  }
}

.page-header-info {
  justify-content: flex-start;

  display: flex;
  width: 100%;
  padding-inline: 2.25rem;
  max-inline-size: 1200px;
  .content {
    flex: 1;
    display: flex;
    max-width: 560px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    z-index: 2;
    background: hsl(276, 50%, 35%);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 92% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 31%, 92% 100%, 0 100%, 0 0);

    padding: 24px 34px 24px 24px;
    top: 100%;
    left: 50%;
    width: 95%;

    > h1 {
      font-family: 'Merriweather Sans', sans-serif;
    }
  }
}

/* A section to contain image beside text */

.content-image-text {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-block: var(--size-5);

  &[image-end] {
    flex-direction: row-reverse;
  }

  .content-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: var(--radius-2);
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  }

  .content-text {
    flex: 1;
    color: var(--text-color, #777);
    font-size: var(--font-size-2);
    border-radius: 5px;

    .content-text-highlight {
      background-color: #eec942;
      color: #222;
    }
  }
}

.container-spacing[name='species-information'] {
  margin-block: 4rem;
}

.light-bg {
  background-color: var(--content-light-bg, hsl(120, 100%, 97%));
}

.species-facts {
  h4 {
    font-size: var(--font-size-5);
    font-family: var(--woodland-info-font);
  }
  ul {
    font-size: var(--font-size-3);
  }
}

.species-information {
  hr {
    margin-block: var(--size-fluid-3);
  }
}

[name='species-information'] {
  h2 {
    font-size: 2.5625rem;
  }
  h4 {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

@media (--md-n-below) {
  .content-image-text {
    flex-direction: column;
  }
}

/* A section to contatin single column content */
.content-text-block {
  div {
    margin-block: var(--size-2);
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-inline: auto;

  max-width: 50%;
  .logo-item {
    flex: 1 1 10%;
    max-width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.container[name='logos'] > section {
  background-color: #eec942;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 70ch;
  --breakout-max-width: 95ch;

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width, .full-width-content),
.full-width > :not(.breakout, .full-width, .full-width-content) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width,
.content-grid > .full-width-content {
  grid-column: full-width;
}
