:root {
  color-scheme: 'light dark';
  --primary-color: #6200ee;
  --primary-color-darker: hsl(265, 100%, 40%);
  --secondary-color: #03dac6;
  --text-color: #212121;
  --background-color: #ffffff;
  --link-color: #1a73e8;
  --hover-color: #9699bb;

  --content-light-bg: hsl(120, 100%, 97%);

  --cta-background-color: #6f3f70;
  --header-background-color: #6200ee;
  --header-text-color: #fff;

  --footer-background-color: #f1f1f1;
  --footer-text-color: #424242;
  --footer-link-color: #1b70df;

  --toggle-text-color: hsl(200, 12%, 75%);

  --margin-color-hall: #d073d4;
  --margin-color-na: #3f4f8080;

  --btn-bg: #1a73e8;
  --btn-color: #ffffff;

  --border-color: #333;

  --elevation: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.dark {
  --primary-color: #bb86fc;
  --primary-color-darker: #ab6afb;
  --secondary-color: #03dac6;
  --text-color: #ffffff;
  --hover-color: #272832;

  --content-light-bg: hsl(120, 12%, 27%);

  --background-color: #27272c;
  --link-color: #82b1ff;

  --cta-background-color: #d073d4;
  --header-background-color: #bb86fc;
  --header-text-color: #fff;

  --footer-background-color: #1a1a1a;
  --footer-text-color: #bdbdbd;
  --footer-link-color: #82b1ff;

  --toggle-text-color: hsl(201, 20%, 38%);

  --margin-color-hall: #864a89;
  --margin-color-na: #3f4f8080;

  --btn-bg: #2962ff;
  --btn-color: #ffffff;

  --border-color: #777;

  --elevation: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: var(--font-size-5);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
