---js
{ title: "Welcome to Westmuir",
layout: "base",
cta: true,
hero: false
}
---

<div class="center">
  <img src="/images/westmuir-cortachy-header.jpg" alt="Welcome to Westmuir" />
</div>

{% block content %}

<main class="main">
  <h2 class="main-heading">Quick links</h2>

  {% render "partials/nav-cards", cards: cards %} {% if hero %}

  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to Westmuir</h1>
      <p>Discover the charm of our village, from events to local news.</p>
      <a href="/about/" class="btn">Learn More</a>
    </div>
  </section>

  {% endif %}

  <h2 class="main-heading">Latest</h2>

  {% assign featuredPosts = collections.posts | categoryFilter: "featured" %} {% assign postslist =
  featuredPosts | head: -2 %} {% assign postsCount = collections.posts | size %} {% assign
  latestPostsCount = postsCount | min: 3 %} {% render "partials/postslistarticles" postslist:
  postslist %} {% assign remainderpostslist = featuredPosts | slice: -2 %} {% render
  "partials/postslistcards" postslist: remainderpostslist %} {% if cta %} {% css %} {% include
  "css/components/cta.css" %} {% endcss%} {% render "partials/cta" button_label: "Read more",
  button_url:"/volunteer/" %} {% endif %} {% endblock %}
</main>
